input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: var(--input-base);
  outline: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  color: var(--input-placeholder);
  font: var(--text);
}

input {
  margin-top: 0.75rem;
}

.about-event {
  padding: 1rem;
  border-radius: .5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}

.grid-container .input-wrapper:nth-child(1) {
  grid-column: span 2;
}

