#app {
  display: grid;
  grid-template-columns: 32.25% 67.75%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--shape-body);
}

aside {
  background-color: var(--shape-body);
  padding: 2rem;

  & .aside-container {
    position: relative;
    max-width: 31rem;
    display: flex;
    flex-direction: column;

    & header {
      z-index: 2;
      position: absolute;
      margin: 2rem;

      & .icon-festival {
        width: 40px;
        height: 40px;
      }
    }

    & .image-background {
      margin-bottom: 0.25rem;
      z-index: 1;
      border-radius: 1.5rem;
    }

    & h2 {
      margin-top: 0.25rem;
      font: var(--text);
      color: var(--text-heading);
    }
  }
}

main {
  padding-top: 5rem;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  padding: 5rem 8.125rem 0 8.125rem;

  & .main-container {
    max-width: 35rem;
  }

  & .main-container fieldset {
    margin-bottom: 3rem;
  }

  & .main-container > h1 {
    color: var(--text-heading);
    font: var(--heading-md);
    margin-bottom: 40px;
  }
}
