#app {
  display: grid;
  grid-template-columns: 32.25% 67.75%;
  height: 100vh;
  overflow: hidden;
}

aside {
  background-color: var(--shape-body);
  padding: 2rem;

  & .aside-container {
    position: relative;
    max-width: 31rem;
    display: flex;
    flex-direction: column;

    & header {
      z-index: 2;
      position: absolute;
      margin: 2rem;
      
      & .icon-festival {
        width: 40px;
        height: 40px;
      }
    }


    & .image-background {
      margin-bottom: 0.25rem;
      z-index: 1;
      border-radius: 1.5rem;
    }

    & h2 {
      margin-top: .25rem;
      font: var(--text-md);
      color: var(--text-heading);
    }
  }
}

main {
  background-color: var(--shape-body);
}